* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

:root {
    --pink: #e84393;
    --light-pink: #fd79a8;
    --text: #ffffff;
}

.nav-box {
    width: 100%;
    height: 60px;
    background-color: var(--pink);
}

.nav-icon i {
    font-size: 30px;
    color: var(--text);
    margin: 10px;
}